@use './variables' as *;

main{

    background-color: #1C1C1C;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;

        .current-series{
            position: absolute;
            top: -25px;
            left: -10px;

            font-size: 2em;
            font-weight: bold;
            
            text-transform: uppercase;
            
            color: white;

            background-color: $primaryColor;
        }

        .comics-cards{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 50px 25px;
    
            padding: 50px 0;
        }

        .btn{
            padding: 12px 55px;

            border: none;

            background-color: $primaryColor;

            cursor: pointer;
        }

        .comics-cards{
            .comic-card{
                
                width: calc(100% / 6 - 25px / 6 * 5);

                text-decoration: none;

                .comic-img {
            
                    margin-bottom: 10px;
            
                    width: 100%;
                    
                    img{
                        width: 100%;
                        aspect-ratio: 1 / 1;
                        object-fit: cover;
                        object-position: top;
                    }
            
                }
            
            
                span{
                    color: white;
            
                    text-transform: uppercase;
                }
            }
        }
    }


}