@use './variables' as *;

nav{

    .nav-top{
        text-transform: uppercase;

        background-color: $primary;
    }

    .nav-bot{

        ul{
            display: flex;
            gap: 10px;
    
            list-style-type: none;

            li{
                font-weight: bold;
                
                text-transform: uppercase;
            }
        }
    }
    

}