@use './variables' as *;

#comic-tables {

    background-color: #F6F6F6;

    .container{
        display: flex;
        flex-direction: column;
        gap: 100px;

        .tables{
            display: flex;
            gap: 30px;

            padding-top: 30px;
            margin-bottom: 50px;

            h2{
                color: $secondaryColor;
                font-weight: bold;
            }
    
            // table{
            //     background-color: #F6F6F6;
            // }
    
            th{
                color: $secondaryColor;
                font-weight: 500;
            }
    
            td{
                color: #00A9D9;
            }
    
            .price, .date{
                color: $secondaryColor;
            }
            
            .talent{
                width: 50%;
            }
    
            .specs{
                width: 50%;
            }

        }

    }
}